/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");


@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --main-blue: #2c22ff;
  --main-green: #49ecb7;
  --main-gray: #afafaf;
  --main-gray2: #525252;
  --background-gray: #f5f5f5;
  --background-gray2: #e0e0e0;
  --custom-font-size: 1.3rem;
  --custom-font-size-title: 1.7rem;
  --margin-fold: 4rem;
  --margin-unfold: 13rem;
}

* {
  box-sizing: border-box;
  /* padding: 0px; */
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
}

html {
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Header */
header {
  height: 4rem;
  z-index: 200;
  width: 100%;
  height: var(--margin-fold);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem 0.2rem 1rem;
  border-bottom: 1px solid var(--background-gray2);
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color: var(--background-gray);
}
/* Left secction */
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Menu */
.menu-container {
  /* border: 1px solid var(--main-blue); */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-container .menu {
  /* border: 1px solid var(--main-blue); */
  margin: 0rem;
  color: var(--main-blue);
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-container.menu {
  width: 100%;
  color: var(--main-gray2);
  font-size: var(--custom-font-size-title);
  transition: all 0.2s ease;
  transform-origin: center;
}

/* Brand */
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-left: 0rem;
}
.brand .logo {
  width: var(--custom-font-size-title);
}
.brand .name {
  font-size: var(--custom-font-size-title);
  font-weight: 800;
  color: var(--main-blue);
}
.brand div {
  /* border: 2px solid red; */
  width: 0.22rem !important;
  height: var(--custom-font-size-title);
  background-color: var(--main-blue);
  border-radius: 5%;
}

/* Right secction */
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.right a {
  color: var(--main-gray2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition-duration: 0.2s ease;
}
.right a:hover {
  background-color: var(--background-gray2);
  /* border-color: var(--main-blue); */
  /* color: var(--main-gray); */
}
.right .img {
  font-size: var(--custom-font-size);
  margin: 0.5rem;
}
.right .user-icon {
  width: var(--custom-font-size-title);
  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  margin-top: var(--margin-fold);
  width: var(--margin-unfold);
  height: 100%;
  position: fixed;
  z-index: 100;
  padding: 1.1rem 0;
  border-right: 1px solid var(--background-gray2);
  overflow-y: auto;
  background-color: var(--background-gray);
  transition: width 0.5s ease;
  flex-direction: column;
  left: 0;
  top: 0;
}
.sidebar li {
  width: 100%;
}
.sidebar.menu-toggle {
  width: var(--margin-fold);
}
.sidebar a {
  font-size: var(--custom-font-size);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  /* color: var(--main-gray2); */
}
/* .sidebar li:hover{
  background-color: red !important;
  color: var(--main-blue);
  border-bottom: var(--main-blue);
} */
.sidebar .img {
  font-size: var(--custom-font-size);
  min-width: var(--custom-font-size);
}
.sidebar span {
  white-space: nowrap;
  overflow: visible;
  /* z-index: 10; */
}

/* Main| */
main {
  position: fixed;
  /* width: 100%;
  height: 100%; */
  align-items: center;
  justify-content: center;
  height: calc(100% - var(--margin-fold));
  width: calc(100% - var(--margin-fold));
  margin-top: 0rem;
  margin-left: var(--margin-fold);
  padding: 0.5rem;
  transition: padding-left 0.5s ease;
  overflow-y: auto;
}
main.menu-toggle {
  margin-left: var(--margin-unfold);
  transition: padding-right 0.5s ease;
  width: calc(100% - var(--margin-unfold));
}

/* NotFound */
.not-found {
  height: 100%;
  display: flex;
  flex-direction: column; /* Vertical */
  align-items: center; /* Centrado horizontal */
  justify-content: center; /* Centrado vertical */
  gap: 0;
}
.not-found img {
  width: 30%;
}
.not-found span {
  font-size: var(--custom-font-size);
  font-weight: 800;
  color: var(--main-gray2);
  text-align: center;
}

/* Login */
.login-main {
  display: flex;
}

.login-left {
  flex-grow: 1;
  height: 100vh;
  background-color: var(--background-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img {
  width: 400px;
}

.login-right {
  height: 100vh;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-grow: 1;
}

.login-right-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-logo-center {
  align-self: center;
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: auto;
}

.login-center {
  margin: 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo-center img {
  width: 250px;
}

.login-center h2 {
  /* padding-top: 10px; */
  font-size: 3rem;
}

.login-center p {
  font-weight: 400;
  font-size: var(--custom-font-size);
  margin-bottom: 15px;
}

.login-center form {
  width: 300px;
  border-radius: 25px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 0px;
  border: 1px solid var(--main-gray);
  border-radius: 25px;
  background-color: var(--background-gray);
  outline: none;
  box-sizing: border-box;
}
form input:hover {
  background-color: var(--background-gray2);
}

.pass-input-div {
  position: relative;
  width: 100%;
}

.pass-input-div svg {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
  outline: none;
  color: var(--main-gray2);
}
form button[type="submit"] {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: var(--custom-font-size-title);
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
}
.login-center-options {
  display: flex;
  justify-content: space-between;
}
.login-logo-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remember-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.remember-div label {
  font-size: var(--custom-font-size);
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgot-pass-link {
  text-decoration: none;
  font-size: var(--custom-font-size);
}

.forgot-pass-link:hover {
  text-decoration: underline;
}

.login-center-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 60%;
}

.eye-icon {
  color: var(--main-blue);
  opacity: 100;
}

.login-center-buttons button:nth-child(1) {
  background-color: var(--main-blue);
  color: white;
  border: 3px solid var(--main-blue);
}

.login-center-buttons button:nth-child(1):hover {
  color: var(--main-blue);
  font-weight: 800;
  background-color: var(--background-gray);
}

.login-center-buttons button:nth-child(1):active {
  background-color: var(--main-gray);
  color: var(--main-blue);
  font-weight: 800;
  border-color: var(--main-gray);
  transform: scale(0.97);
}

.login-bottom-p {
  text-align: center;
  font-size: var(--custom-font-size);
  padding-bottom: 40px;
}

.login-bottom-p a {
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover {
  text-decoration: underline;
}
