/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --main-blue: #2C22FF;
  --main-green: #49ECB7;
  --main-gray: #AFAFAF;
  --main-gray2: #525252;
  --background-gray: #F5F5F5;
  --background-gray2: #E0E0E0;
  --custom-font-size: 1.3rem;
  --custom-font-size-title: 1.7rem;
  --margin-fold: 4rem;
  --margin-unfold: 13rem;

}


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
}

html{
  font-size: 10px;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Header */
header{
  height: 4rem;
  z-index: 200;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem 0.2rem 1rem;
  border-bottom: 1px solid var(--background-gray2);
  /* position: fixed; */
  top: 0;
  left: 0;
  background-color: var(--background-gray);
}
/* Left secction */
.left{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Menu */
.menu-container{
  /* border: 1px solid var(--main-blue); */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menu-container .menu{
  /* border: 1px solid var(--main-blue); */
  margin: 0rem;
  color: var(--main-blue);
  width: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-container.menu{
  width: 100%;
  color: var(--main-gray2);
  font-size: var(--custom-font-size-title);
  /* height: 100%; */
  /* background-color: var(--main-gray2); */
  transition: all 0.2s ease;
  transform-origin: center;
}

/* Brand */
.brand{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-left: 0rem;
}
.brand .logo{
  width: var(--custom-font-size-title);
}
.brand .name{
  font-size: var(--custom-font-size-title);
  font-weight: 800;
  color: var(--main-blue);
}
.brand div{
  width: 0.15rem;
  height: var(--custom-font-size-title);
  background-color: var(--main-blue);
  border-radius: 5%;
}

/* Right secction */
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.right a{
  color: var(--main-gray2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition-duration: 0.2s ease;
}
.right a:hover{
  background-color: var(--background-gray2);
  /* border-color: var(--main-blue); */
  /* color: var(--main-gray); */
}
.right .img{
  font-size: var(--custom-font-size);
  margin: 0.5rem;
}
.right .user-icon{
  width: var(--custom-font-size-title);
  border-radius: 50%;
}

/* Sidebar */
.sidebar {
  margin-top: var(--margin-fold);
  width: var(--margin-unfold);
  height: 100%;
  position: fixed;
  z-index: 100;
  padding: 1.1rem 0;
  border-right: 1px solid var(--background-gray2);
  overflow-y: auto;
  background-color: var(--background-gray);
  transition: width 0.5s ease;
  left: 0;
  top: 0;
}
.sidebar.menu-toggle{
  width: var(--margin-fold);
}
.sidebar a{
  font-size: var(--custom-font-size);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  color: var(--main-gray2);
}
.sidebar a:hover{
  background-color: var(--background-gray2);
  color: var(--main-blue);
  border-bottom: var(--main-blue);
}
.sidebar .img{
  font-size: var(--custom-font-size);
  min-width: var(--custom-font-size);
}
.sidebar span{
  white-space: nowrap;
  overflow: visible;
  z-index: 10;
}

/* Main| */
main{
  border: 2px solid red;
  position: fixed;
  height: 100%;
  margin-top: 0rem;
  margin-left: var(--margin-fold);
  padding: 0.5rem;
  transition: padding-left 0.5s ease;
}
main.menu-toggle{
  margin-left: var(--margin-unfold);
  transition: padding-right 0.5s ease;
}

/* NotFound */
.not-found{
  height: 100%;
  display: flex;
  flex-direction: column; /* Vertical */
  align-items: center;    /* Centrado horizontal */
  justify-content: center;/* Centrado vertical */
  gap: 0;
  border: 2px solid blue;
}
.not-found img{
  width: 30%;
}
.not-found span{
  font-size: var(--custom-font-size);
  font-weight: 800;
  color: var(--main-gray2);
  text-align: center;
}

/* Login */
.login-main{
  display: flex;
}

.login-left{
  flex-grow: 1;
  height: 100vh;
  background-color: var(--background-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left img{
  width: 400px;
}

.login-right{
  height: 100vh;
  padding-top: 10%;
  padding-bottom: 10%;
  flex-grow: 1;
}

.login-right-container{
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.login-right form{
  display: flex;
  flex-direction: column;
}

.login-logo-center{
  align-self: center;
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: auto;
}

.login-center{
  margin: 0 0;
  text-align: center;
}

.login-logo-center img{
  width: 250px;
}

.login-center h2{
  padding-top: 5%;
  font-size: 3rem;
}

.login-center p{
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 20px;
}


form input[type='email'],
form input[type='password'],
form input[type='text']
 {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
}

.pass-input-div{
  position: relative;
}

.pass-input-div svg{
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 30px;
  cursor: pointer;
  outline: none;
}

form button[type='submit'] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
}


.login-center-options{
  display: flex;
  justify-content: space-between;
}

.remember-div{
  display:flex;
  align-items: center;
  column-gap: 5px;
}

.remember-div label{
  font-size: var(--custom-font-size);
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgot-pass-link{
  text-decoration: none;
  font-size: var(--custom-font-size);
}

.forgot-pass-link:hover{
  text-decoration: underline;
}

.login-center-buttons{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.eye-icon{
  color: var(--main-blue);
  opacity: 100;
}

.login-center-buttons button:nth-child(1){
  background-color: var(--main-blue);
  color: white;
  border: 3px solid var(--main-blue);
}

.login-center-buttons button:nth-child(1):hover{
  color: var(--main-blue);
  font-weight: 800;
  background-color: var(--background-gray);
}

.login-center-buttons button:nth-child(1):active{
  background-color: var(--main-gray);
  color: var(--main-blue);
  font-weight: 800;
  border-color: var(--main-gray);
  transform: scale(0.97);
}

/* .login-center-buttons button:nth-child(2){
  background-color: var(--main-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.login-center-buttons button:nth-child(2) img{
  width: 30px;
}

.login-center-buttons button:nth-child(2):hover{
  background-color: var(--main-blue);
} 
*/

.login-bottom-p{
  text-align: center;
  font-size: var(--custom-font-size);
  padding-bottom: 40px;
}

.login-bottom-p a{
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover{
  text-decoration: underline;
}

